@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

/* Variables generales */
:root {
    --color-fondo: #e1e1e1;
    --color-texto: #212121;
    --color-acento: #40C4FF;
    --sombra: 6px 6px 12px #bababa, -6px -6px 12px #ffffff;
    --sombra-interna: inset 6px 6px 12px #bababa, inset -9px -9px 18px #ffffff;
    --sombra-posterior: inset 3px 3px 3px #bababa, inset -3px -3px 3px #ffffff;
}

body {
    font-family: "Great Vibes", cursive;
    font-family: "Rubik", sans-serif;
    background: var(--color-fondo);
    color: var(--color-texto);
    line-height: 1.7;
    padding-top: 60px;
}

body.activo {
    --color-fondo: #212121;
    --color-texto: #e0e0e0;
    --color-acento: #fc1717;
    --sombra: 0.5rem 0.5rem 1rem #111, -6px -6px 12px #333;
    --sombra-interna: inset 0.5rem 0.5rem 1rem #111, inset -6px -6px 12px #333;
    --sombra-posterior: inset 3px 3px 3px #111, inset -3px -3px 6px #333;
}
header {
  background-color: var(--color-fondo);
  box-shadow: var(--sombra);
}

.logo-img {
    width: 80px;
    height: auto;
    border-radius: 50%;
}

.nav-link:hover {
    color: var(--color-acento);
}

.btn-outline-primary {
    border: none;
    color: var(--color-texto);
    background: var(--color-fondo);
    box-shadow: var(--sombra-interna);
    transition: 0.5s;
}

.btn-outline-primary:hover {
    color: var(--color-acento);
    box-shadow: var(--sombra-posterior);
    background: var(--color-fondo);
}

#boton-tema, #boton-menu {
    padding: 0.5rem 1rem;
    color: var(--color-texto);
    background: var(--color-fondo);
    box-shadow: var(--sombra-interna);
    border-radius: 0.3rem;
    cursor: pointer;
    transition: all 0.2s ease-in;
}

#boton-tema:hover, #boton-menu:hover {
    color: var(--color-acento);
    box-shadow: var(--sombra-posterior);
}
/*     desplegabvle*/
.dropdown-menu li a:hover{
    background-color: var(--color-fondo);
    box-shadow: var(--sombra-posterior);
    transition: 0.5s;

}